<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/hjem.css">

    <div id="main">
        <p class="velkomstMelding hidden">Velkommen, vi ønsker deg alt som er godt, <span class="velkomstNavn"></span>!</p>
    </div>

    <form class="navnForm">
        <label for="navn">Navn:</label>
        <input id="navn" type="text" name="navn">
        <button type="submit">Lagre</button>
    </form>

    <div class="tall">
        <h1>Ditt lykketall dette minuttet:</h1>
        <h2 class="tallElement"></h2>
    </div>

    <div class="takk">
        <h2>Takk til alle som har besøkt nettstedet:</h2>
        <p class="alleNavn"></p>
    </div>

    <!-- skript -->
    <script src="/js/navnForm.js" defer></script>
    <script src="/js/tilfeldigTall.js" defer></script>
    <script src="/js/alleNavn.js" defer></script>

<%- include('partials/footer') %>