.hidden {
    display: none;
}

.velkomstMelding, .navnForm {
    text-align: center;
    font-size: 1.2rem;
}

.tall h1 {
    text-align: center;
}

.tallElement {
    text-align: center;
    font-size: 72px;
}

.takk {
    text-align: center;
}